<body class="container">
	<div class ="well">	
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Edit Task</h>
	</div>

		<div class ="span4">
			<br><br>
				<div class ="well">	
					<%= render 'form' %>

					
				</div>
		</div>		
	


	
</body>
