<body class="container">
	<div class ="well">	
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Edit Project</h>
	</div>

		<div class ="span4">
			<br><br>
				<div class ="well">	
					<%= render 'form' %>

					<%= link_to 'Show', @project %> |
					<%= link_to 'Back', projects_path %>
				</div>
		</div>		
	


	
</body>
